html,
body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial, sans-serif;
}

main {
	padding-bottom: 60px;
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 1%)
}

.visually-hidden {
	display: none;
}

.fixed-container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.top-bar {
	padding: 20px 0;
	color: #fff;
	background-color: #00122f;
}

.top-bar
a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
	color: #fff;
}

.top-bar h1 {
  display: inline;
	font-size: 16px;
	font-weight: normal;
}

.top-bar
time {
  float:right;
}

.title-logo {
  display: inline-block;
	width: 121px;
	height: 40px;
	margin-top: 40px;
	margin-right: 40px;
	background-image: url('img/nav-logo.png');
	background-repeat: no-repeat;
}

.change-locate {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
	margin-right: 20px;
	padding-right: 12px;
	padding-bottom: 3px;
	text-decoration: none;
	border-bottom: 2px dashed #448ccb;
	font-size: 16px;
	color: #448ccb;
	background-image: url('img/down-arrow.png');
	background-repeat: no-repeat;
	background-position:right 70%;
}

.date-time {
	display: inline-block;
	vertical-align: top;
	margin: 50px 20px 0 20px;
	font-size: 16px;
	color: #91919f;
	background: #fff;
}

.time-icon {
	margin-left: 20px;
	padding-left: 20px;
	background-image: url('img/clock.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.weather {
	display: inline-block;
	vertical-align: top;
	margin: 50px 20px 0 20px;
	padding-left: 30px;
	background-image: url('img/cloudy.png');
	background-repeat: no-repeat;
	background-size: contain;
}

#searchForm {
	position: relative;
	float:right;
	margin-top: 35px;
}

.search-field {
	width: 320px;
	height: 45px;
	padding-left: 20px;
	outline:none;
	border: 0;
	border-radius: 22.5px;
	font-size: 14px;
	color: #000;
	background-color: #ebebeb;
}

.search-btn {
	position: absolute;
	top: 35%;
	left: 90%;
	width: 16px;
	height: 16px;
	padding-left: 16px;
	outline:none;
	border: none;
	color: #ebebeb;
	background-color: #ebebeb;
	background-image: url('img/search.png');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

.head-menu-item {
	margin: 0;
	padding: 0;
}

.head-menu-item
li {
   display: inline-block;
   vertical-align: baseline;
   margin: 35px 0;
}

.head-menu-item
li + li::before {
	content: '/';
	margin: 0 10px;
	font-size: 20px;
	color: #91919f;
}

.head-nav-btn {
  text-decoration:none;
  font-size: 16px;
	color: #000;
}

.head-nav-btn:hover {
	color: #448ccb;
}

.todays-news-column {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	width: 250px;
	background-color: #fff;
}

.title-block {
	padding: 21px 18px;
	margin: 0;
	border-bottom: 2px solid #f9f9f9;
}

.title-block
a {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #000;
}

.news-list {
	margin: 0;
	padding: 0;
}

.news-list
li {
	list-style-type: none;
}

.todays-news-item {
	padding: 20px 18px 0;
	border-bottom: 1px solid #fff;
}

.todays-news-item
h3 {
	margin: 0;
}

.todays-news-item
a {
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	color: #000;
}

.footer-thread-item {
	position: relative;
	width: 200px;
	margin-top: 9px;
	font-size: 12px;
	color: #000;
}

.footer-thread-item
a {
	width: 100px;
	color: #91919f;
}

.footer-thread-item
time {
	position: absolute;
	right: 40px;
	bottom: 0;
	margin-left: 5px;
	padding-left: 14px;
	background-image: url('img/clock.png');
	background-repeat: no-repeat;
	background-size: 12px;
}

.comment-counter {
	position: absolute;
	right: 0;
	bottom: 0;
	margin-left: 10px;
	padding-left: 14px;
	background-image: url('img/chat.png');
	background-repeat: no-repeat;
	background-size: 12px;
}

.btn-container {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.all-news-btn {
	display: inline-block;
	text-align: center;
	width: 176px;
	height: 43px;
	line-height: 43px;
	margin: 25px 0 25px 35px;
	border: 2px solid #448ccb;
	border-radius: 23px;
	text-decoration: none;
	font-size: 14px;
	color: #448ccb;
	background-color: inherit;
	cursor: pointer;
}

.main-news {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	padding-top: 0;
	width: 420px;
}

.title-news {
	padding: 110px 30px 40px 22px;
	background-image:linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.1) 100%), url('img/title-photo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.title-news
a {
	text-decoration: none;
	color: #fff;
}

.title-thread {
	font-size: 12px;
}

.title-topic {
	font-size: 30px;
	font-weight: bold;
}

.title-news
time {
	margin-right: 20px;
	font-size: 12px;
	color: #fff;
}

.title-news
.time-icon {
	background-image: url('img/clock-2.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.block-news {
	display: inline-block;
	vertical-align: top;
	text-align: justify;
}

.block-news:after {
	display: inline-block;
	width: 100%;
	content:'';
}

.other-news {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-top: 20px;
}

.other-news
a {
	text-decoration: none;
	color: #000;
}

.other-news
figure {
	margin: 0;
	height: 190px;
}

.other-news
h3 {
	width: 200px;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

.other-news
img {
	width: 200px;
	height: auto;
}

.ad-banner {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 250px;
}

.ad-banner
img {
	width: 250px;
	height: 400px;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.top-news {
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
}

.topnews-title {
	width: 334px;
	float: right;
}

.title-top-news {
	display: inline-block;
	float: left;
	width: 490px;
	padding: 110px 82px 40px 18px;
	background-image:linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.1) 100%), url('img/top-news-pic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.title-top-news
a {
	text-decoration: none;
	color: #fff;
}

.title-top-news
time {
	margin-right: 20px;
	font-size: 12px;
	color: #fff;
}

.title-top-news
.time-icon {
	background-image: url('img/clock-2.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.title-top-news
p {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}

.topnews-list {
	width: 370px;
	float: right;
}

.top-news-item {
	padding: 16px 18px 0;
	margin-bottom: 16.5px;
	border-bottom: 1px solid #fff;
}

.top-news-item
h3 {
	margin: 0;
}

.top-news-item
h3
a {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.site-footer {
	background-color: #00122f;
	padding-top: 57px;
}

.footer-container {
	text-align: justify;
}

.footer-nav {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.footer-menu-item {
	margin: 0;
	padding: 0;
}

.footer-menu-item
li {
   display: inline-block;
	 vertical-align: top;
	 width: 45%;
	 margin-bottom: 18px;
}

.footer-nav-btn {
  text-decoration:none;
  font-size: 16px;
	color: #fff;
}

.footer-nav-btn:hover {
	color: #448ccb;
}

.footer-about {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.footer-logo {
  display: inline-block;
	width: 121px;
	height: 40px;
	margin-left: 100px;
	background-image: url('img/footer-logo.png');
	background-repeat: no-repeat;
}

.footer-about
.footer-menu-item {
	margin-top: 18px;
	margin-left: 100px;
}

.footer-about
.footer-menu-item
li {
	width: 100%;
}

.footer-contacts {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.footer-social-item {
	margin: 0;
	padding: 0;
	text-align: right;
}

.footer-social-item
li {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.footer-soc-btn:first-child {
	display: inline-block;
	width: 40px;
	height: 40px;
}

.fb {
	background-image: url('img/fb-logo.png');
	background-repeat: no-repeat;
}

.vk {
	background-image: url('img/vk-logo.png');
	background-repeat: no-repeat;
}

.tw {
	background-image: url('img/tw-logo.png');
	background-repeat: no-repeat;
}

.inst {
	background-image: url('img/inst-logo.png');
	background-repeat: no-repeat;
}

.contacts-list {
	display: inline-block;
	text-align: left;
	margin-top: 40px;
	padding-left: 80px;
}

.contacts-list
a {
	display: inline-block;
	margin-bottom: 27px;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
}

.phone-icon {
	padding-left: 40px;
	background-image: url('img/call-answer.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.envelope-icon {
	padding-left: 40px;
	background-image: url('img/envelope.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.footer-container:after {
	display: inline-block;
	width: 100%;
	content:'';
}

.copyright {
	text-align: center;
	padding: 17px 0;
	border-top: 1px solid #26354e;
	font-size: 14px;
	color: #fff;
}
