.social-likes__service {
  display: inline-block;

  width: 35px;
  height: 29px;

  margin-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

.social-likes__service_type-vk {
  background-image: url('../image/social-likes-sprite_desctop@2x.png');
}

.social-likes__service_type-facebook {
  background-image: url('../image/social-likes-sprite_desctop@2x.png');
  background-position-x: -35px;
}

.social-likes__service_type-twitter {
  background-image: url('../image/social-likes-sprite_desctop@2x.png');
  background-position-x: -70px;
}

.social-likes__service_type-instagram {
  background-image: url('../image/social-likes-sprite_desctop@2x.png');
  background-position-x: -105px;

  margin-right: 0;
}
