.feedback-button {
  padding: 1.17em 4em;

  font-size: $large-text_font-size;
  color: $secondary-text_color;

  background-color: $primary-theme_color;
  border: 1px solid $primary-theme_color;

  transition: all 0.3s ease-in-out;

  &:hover {
    border: 1px dashed $primary-theme_color;
    background-color: transparent;
    border-radius: 10px;
    color: $primary-theme_color;
    transition: all 0.3s ease-in-out;
  }

  &:active {
    border: 1px solid $primary-theme_color;
    transition: all 0.5s linear;
  }

  @include mobile_598 {
    width: 100%;
    max-width: 280px;

    font-size: $small-text_font-size;
  }
}

.feedback-button_skills {
  padding: 1.15em 3.45em;
}

.feedback-button_projects {
  padding: 1.21em 3.7em;
}

@include tablet_1200 {
  .feedback-button_promo {
    padding: 1.38em 5.36em;
  }

  .feedback-button_skills {
    padding: 1.4em 4.8em;
  }

  .feedback-button_projects {
    padding: 1.41em 5.1em;
  }
}

@include tablet_1024 {
  .feedback-button_promo {
    padding: 1.22em 4em;
  }
}

@include mobile_598 {
  .feedback-button_promo {
    padding: 1.2em 4em;
  }

  .feedback-button_skills {
    padding: 1.2em 0;
  }

  .feedback-button_projects {
    padding: 1.21em 0;
  }
}
