.form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.form__submit {
  margin-top: 2em;
}

.submit-btn {
  padding: 1em;

  font-size: 16px;

  color: $secondary-text_color;
  background-color: $primary-theme_color;

  border: none;
  outline: none;

  cursor: pointer;
}
