.pop-up {
  position: fixed;
  bottom: 40px;
  right: 20px;

  display: block;
  visibility: hidden;

  max-width: 350px;

  background-color: $primary-theme_color;
  border-radius: 10px;

  z-index: 9999;

  box-shadow: 0 0 35px #000000c4;

  transform: rotate(95deg) translateY(-160px);
  transform-origin: 95% 5%;

  transition: transform 0.6s linear;

  &.open {
    visibility: visible;
    transform: rotate(-3deg) translateY(0px);
    transition: transform 0.6s linear;
  }

  &.hidden {
    transform: rotate(95deg) translateY(-180px);
    transition: transform 0.6s linear;
  }

  @include mobile_598 {
    margin-left: 20px;
  }
}

.pop-up__btn {
  display: block;
  margin-left: auto;
  margin-right: 0;
  padding: 1.2em;

  background-color: transparent;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.3' height='15.375' viewBox='0 0 7.65 7.688'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c142 79.160924, 2017/07/13-01:06:39 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='close-btn' class='cls-1' d='M1334.03,105.041a1.008,1.008,0,0,1-1.42,0l-5.66-5.657a1,1,0,1,1,1.42-1.415l5.66,5.656A1,1,0,0,1,1334.03,105.041ZM1334,97.992a1,1,0,0,0-1.41,0l-5.66,5.657a1,1,0,1,0,1.42,1.414l5.65-5.657A1,1,0,0,0,1334,97.992Z' transform='translate(-1326.66 -97.688)'/%3E%3C/svg%3E%0A");

  @include bg-options(no-repeat, 1em, center);

  border: none;
  outline: none;

  cursor: pointer;

  transition: all .5s linear;

  &:hover {
    transform: rotate(360deg);
  }

  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.3' height='15.375' viewBox='0 0 7.65 7.688'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c142 79.160924, 2017/07/13-01:06:39 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23000; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='close-btn' class='cls-1' d='M1334.03,105.041a1.008,1.008,0,0,1-1.42,0l-5.66-5.657a1,1,0,1,1,1.42-1.415l5.66,5.656A1,1,0,0,1,1334.03,105.041ZM1334,97.992a1,1,0,0,0-1.41,0l-5.66,5.657a1,1,0,1,0,1.42,1.414l5.65-5.657A1,1,0,0,0,1334,97.992Z' transform='translate(-1326.66 -97.688)'/%3E%3C/svg%3E%0A");
  }
}

.pop-up__content {
  padding: 0 40px;
  padding-bottom: 20px;

  @include mobile_598 {
    padding: 0 20px;
    padding-bottom: 20px;
  }
}

.pop-up__title {
  margin: 0;
  font-size: $large-text_font-size;
  color: $secondary-text_color;
}

.pop-up__text {
  margin: 0;
  margin-top: 10px;
  font-size: $small-text_font-size;
  color: $secondary-text_color;
}
