.promo-title__text {
  display: block;

  font-size: 80px;
  font-weight: 900;

  color: $secondary-title_color;
}

.promo-title__description {
  font-size: 25px;
  font-weight: 400;

  color: $primary-text_color;
}

@include tablet_1200 {
  .promo-title {
    font-size: 59px;
  }

  .promo-title__text {
    font-size: $large-title_font-size;
  }
}

@include tablet_1024 {
  .promo-title__description {
    font-size: 18px;
  }
}

@include mobile_598 {
  .promo-title {
    font-size: 24px;
  }

  .promo-title__text {
    margin-bottom: 10px;

    font-size: $small-title_font-size;
  }

  .promo-title__description {
    display: block;

    font-size: $small-text_font-size;
    line-height: 24px;
  }
}
