.title {
  margin: 0;

  font-size: $large-title_font-size;
  font-weight: 700;
  line-height: 1;

  color: $primary-title_color;

  @include tablet_785 {
    font-size: $small-title_font-size;
    font-weight: 900;
  }

  @include mobile_598 {
    text-align: center;
  }
}
