.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 3.85em;
  padding-bottom: 3.75em;
}

.footer__contact-link {
  margin-left: 55px;
}

.footer__btn {
  margin-right: 20px;
}

.footer__social {
  margin-top: 1.5em;
}

.footer__copyright {
  text-align: center;

  padding: 30px 0;

  font-size: $small-text_font-size;
  color: $secondary-text_color;

  background-color: #31293c;
}

.footer__copyright-text {
  margin: 0;
}

@include tablet_1200 {
  .footer__wrapper {
    padding-top: 5em;
    padding-bottom: 3.8em;
  }

  .footer__contact-link {
    margin-left: 23px;
  }

  .footer__btn {
    margin-right: -3px;
  }
}

@include tablet_1024 {
  .footer__wrapper {
    padding-top: 3em;
    padding-bottom: 2.8em;
  }
}

@include tablet_785 {
  .footer__wrapper {
    flex-wrap: wrap;
  }

  .footer__nav {
    flex-basis: 100%;
    margin-bottom: 1em;
  }

  .footer__contact-link {
    margin-left: 0;
  }
}

@include mobile_598 {
  .footer__wrapper {
		flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2.22em;
  }

  .footer__nav {
    flex-basis: auto;
    margin-bottom: 0;
  }

  .footer__feedback {
    margin-top: 1.08em;
  }

  .footer__btn {
    max-width: 280px;

    margin-top: 0.2em;
    margin-right: 0px;
  }

  .footer__social {
    margin-top: 2.5em;
  }

  .footer__copyright {
    padding: 1.5em 0;

    font-size: 12px;
  }
}
