.header {
  padding-top: 1.45em;

  background-color: $secondary_bg-color;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  margin-left: 1.9em;
}

@include tablet_1200 {
  .header {
    padding-top: 1.5em;
  }

  .header__wrapper {
    flex-wrap: wrap;
  }
}

@include mobile_1024 {
  .header {
    padding-top: 1.24em;
  }

  .header__wrapper {
    align-items: center;
  }

  .header__feedback {
    margin-left: 4px;
  }
}
