@mixin tablet_1200 {
    @media (max-width: 1199.9px) {
      @content;
    }
}
// @include tablet_1200 {}

@mixin tablet_1024 {
    @media (max-width: 1023.9px) {
      @content;
    }
}
// @include tablet_1024 {}

@mixin tablet_785 {
    @media (max-width: 784.9px) {
      @content;
    }
}
// @include tablet_785 {}

@mixin tablet_680 {
    @media (max-width: 679.9px) {
      @content;
    }
}
// @include tablet_680 {}

@mixin mobile_598 {
    @media (max-width: 597.9px) {
      @content;
    }
}
// @include mobile_598 {}

@mixin mobile_498 {
    @media (max-width: 497.9px) {
      @content;
    }
}
// @include mobile_498 {}

@mixin bg-gradient($direction, $fromColor, $toColor) {
    background-color: $toColor;
    background-image: linear-gradient($direction, $fromColor, $toColor);
}
// @include mixins.bg-gradient($gradient-angle, $primary_gradient-color, $secondary-gradient-color);

@mixin bg-options($repeat, $bg-size, $bg-position) {
    background-repeat: $repeat;
    background-size: $bg-size;
    background-position: $bg-position;
}
//@include mixins.bg-options($repeat, $bg-size, $bg-position);
