.burger-button {
	position: relative;
	display: none;

	width: 45px;
	height: 32px;

  padding: 0;

  border: none;
  background: none;
}

.burger-button__line,
.burger-button__line::before,
.burger-button__line::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 45px;
  height: 6px;

  margin-top: -3px;
  margin-left: -22.5px;
  background-image: linear-gradient(10deg, #ff8f5a, #ff2f96);
}

.burger-button__line::before,
.burger-button__line::after {
  content: '';
  display: block;
  transition: .2s;
}

.burger-button__line::before {
  transform: translateY(-13px);
}

.burger-button__line::after {
  transform: translateY(13px);
}

.burger-button_active .burger-button__line {
	height: 0;
}

.burger-button_active .burger-button__line::before {
  transform: rotate(45deg);
}
.burger-button_active .burger-button__line::after {
  transform: rotate(-45deg);
}

@media (max-width: 1199.9px) {
  .burger-button {
    display: block;
  }
}

@media (max-width: 1023.9px) {
  .burger-button {
    width: 24px;
    height: 18px;
  }

  .burger-button__line,
  .burger-button__line::before,
  .burger-button__line::after {
    width: 24px;
    height: 2px;

    margin-top: -1px;
    margin-left: -12px;
  }

  .burger-button__line::before,
  .burger-button__line::after {
    content: '';
    display: block;
    transition: .2s;
  }

  .burger-button__line::before {
    transform: translateY(-8px);
  }

  .burger-button__line::after {
    transform: translateY(8px);
  }
}
