.title {
  margin: 0;

  font-size: 54px;
  font-weight: 700;
  line-height: 1;

  color: #262626;
}

@media (max-width: 1023.9px) {
  .title {
    text-align: center;

    font-size: 30px;
    font-weight: 900;
  }
}
