
.ad-banner {
	display: flex;
	flex-direction: column;

	max-width: 250px;
}

.ad-banner-link {
	margin-top: 18px;

	text-align: center;
}

.ad-banner-img {
	display: inline-block;
}

.ad-banner-link:first-child {
	margin-top: 0px;
}
