.wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;

	@include tablet_1200 {
		width: 1024px;
		padding: 0 40px;
	}

	@include tablet_1024 {
		width: 768px;
    padding: 0 20px;
	}

	@include tablet_785 {
		width: 100%;
		max-width: 768px;
	}

	@include mobile_598 {
		max-width: 480px;
	}
}
