$primary-theme_color: #ff4e2e;
$secondary-theme_color: #ff6375;

$primary-title_color: #262626;
$secondary-title_color: #1f1f24;

$primary-text_color: #8993ad;
$secondary-text_color: #fff;

$contact-link_color: #000;

$primary_bg-color: #fff;
$secondary_bg-color: #fbfbfb;

$primary-font: "Roboto", sans-serif;

$large-title_font-size: 54px;
$small-title_font-size: 30px;

$large-text_font-size: 18px;
$small-text_font-size: 16px;

$gradient-angle: 10deg;
$primary_gradient-color: #ff8f5a;
$secondary-gradient-color: #ff2f96;
