/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff");
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-500.woff") format("woff");
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-700.woff") format("woff");
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-cyrillic_latin-900.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-900.woff") format("woff");
}
.diplom {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  min-width: 320px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: normal;
  letter-spacing: normal;
  color: #8993ad;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #8993ad;
}

ul {
  margin: 0;
  padding: 0;
}

.page__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4.65em;
  padding-bottom: 5.2em;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1199.9px) {
  .wrapper {
    width: 1024px;
    padding: 0 40px;
  }
}
@media (max-width: 1023.9px) {
  .wrapper {
    width: 320px;
    padding: 0 20px;
  }
}

.btn {
  padding: 0.85em 2.46em;
  line-height: 1;
  cursor: pointer;
}
.btn:focus {
  outline: 1px solid #ff8f5a;
}

.header {
  padding-top: 1.45em;
  background-color: #fbfbfb;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  margin-left: 1.9em;
}

@media (max-width: 1199.9px) {
  .header {
    padding-top: 1.5em;
  }

  .header__nav {
    display: none;
  }
}
@media (max-width: 1023.9px) {
  .header {
    padding-top: 1.24em;
  }

  .header__wrapper {
    align-items: center;
  }

  .header__feedback {
    margin-left: 4px;
  }
}
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.nav__list_footer {
  flex-direction: column;
  justify-content: space-between;
}

.nav__item {
  list-style-type: none;
}

.nav__item_header {
  margin-right: 2em;
}

.nav__item_footer {
  line-height: 1.87;
}

.nav__link_header {
  color: #1f1f24;
  transition: color 0.3s, border-bottom 0.3s linear;
}
.nav__link_header:hover {
  color: #ff6375;
  border-bottom: 1px solid #ff6375;
}

.nav__link_footer {
  font-size: 18px;
}

@media (max-width: 1023.9px) {
  .nav__list_footer {
    margin-bottom: 1em;
  }

  .nav__item_footer {
    line-height: 2;
  }

  .nav__link_footer {
    font-size: 15px;
  }
}
.feedback {
  display: flex;
}

.feedback_header {
  align-items: center;
}
@media (max-width: 1023.9px) {
  .feedback_header {
    flex-grow: 2;
    justify-content: space-between;
  }
}

.feedback_footer {
  flex-direction: column;
}

.contact-link {
  font-size: 25px;
  color: #000;
}
.contact-link::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 18px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
@media (max-width: 1023.9px) {
  .contact-link {
    font-size: 18px;
  }
  .contact-link::before {
    width: 13px;
    margin-right: 20px;
  }
}

.contact-link_header {
  font-weight: 700;
}

.contact-link_type_phone {
  margin-top: 5px;
}
.contact-link_type_phone::before {
  background-image: url("../image/phone@2x.png");
}
@media (max-width: 1023.9px) {
  .contact-link_type_phone {
    margin-top: 0;
  }
}

.contact-link_type_email {
  margin-top: 29px;
}
.contact-link_type_email::before {
  background-image: url("../image/envelope@2x.png");
}
@media (max-width: 1023.9px) {
  .contact-link_type_email {
    margin-top: 23px;
    margin-left: 0;
  }
}

.burger-button {
  position: relative;
  display: none;
  width: 45px;
  height: 32px;
  padding: 0;
  border: none;
  background: none;
}
@media (max-width: 1199.9px) {
  .burger-button {
    display: block;
  }
}
@media (max-width: 1023.9px) {
  .burger-button {
    width: 24px;
    height: 18px;
  }
}
.burger-button.active .burger-button__line {
  height: 0;
}
.burger-button.active .burger-button__line::before {
  transform: rotate(45deg);
}
.burger-button.active .burger-button__line::after {
  transform: rotate(-45deg);
}

.burger-button__line,
.burger-button__line::before,
.burger-button__line::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 6px;
  margin-top: -3px;
  margin-left: -22.5px;
  background-color: #ff2f96;
  background-image: linear-gradient(10deg, #ff8f5a, #ff2f96);
}
@media (max-width: 1023.9px) {
  .burger-button__line,
.burger-button__line::before,
.burger-button__line::after {
    width: 24px;
    height: 2px;
    margin-top: -1px;
    margin-left: -12px;
  }
}

.burger-button__line::before,
.burger-button__line::after {
  content: "";
  display: block;
  transition: 0.2s;
}

.burger-button__line::before {
  transform: translateY(-13px);
}
@media (max-width: 1023.9px) {
  .burger-button__line::before {
    transform: translateY(-8px);
  }
}

.burger-button__line::after {
  transform: translateY(13px);
}
@media (max-width: 1023.9px) {
  .burger-button__line::after {
    transform: translateY(8px);
  }
}

.callback-button {
  font-size: 16px;
  color: #ff6375;
  background-color: #fff;
  border: 1px solid #ff6375;
}

.callback-button_footer {
  padding: 0.85em 3.8em;
}

@media (max-width: 1023.9px) {
  .callback-button_mobile {
    width: 26px;
    height: 26px;
    font-size: 0;
    border-radius: 13px;
    border: none;
    background-image: url("../image/phone_icon@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .callback-button_mobile_footer {
    width: 100%;
    padding: 1.2em 3.8em;
    color: #fff;
    background-color: #ff4e2e;
    border: none;
  }
}
.promo {
  position: relative;
  padding-top: 220px;
  padding-bottom: 237px;
  background-color: #fbfbfb;
}

.promo__wrapper {
  position: relative;
  z-index: 999;
}

.promo__btn {
  margin-top: 2.4em;
}

.promo__background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../image/Ellipse.svg");
  background-repeat: no-repeat;
  background-size: 928px;
  background-position: right -109px bottom -140px;
  z-index: 997;
}

.promo__img {
  position: absolute;
  right: 196px;
  bottom: 0;
  height: 95.3%;
  z-index: 998;
}

@media (max-width: 1199.9px) {
  .promo {
    padding-top: 243px;
    padding-bottom: 229px;
  }

  .promo__btn {
    margin-top: 2.28em;
  }

  .promo__background {
    background-size: 772px;
    background-position: right -164px bottom -108px;
  }

  .promo__img {
    right: 0;
  }
}
@media (max-width: 1023.9px) {
  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.1em;
    padding-top: 0;
    padding-bottom: 0;
  }

  .promo__btn {
    margin-top: 1.65em;
  }

  .promo__background {
    position: relative;
    order: -1;
    width: 320px;
    margin-bottom: 0.8em;
    background-size: 517px;
    background-position: right -115px bottom -139px;
  }

  .promo__img {
    position: relative;
    display: block;
    height: 100%;
    margin: 0 auto;
  }
}
.title {
  margin: 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 1;
  color: #262626;
}
@media (max-width: 1023.9px) {
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
  }
}

.promo-title__text {
  display: block;
  font-size: 80px;
  font-weight: 900;
  color: #1f1f24;
}

.promo-title__description {
  font-size: 25px;
  font-weight: 400;
  color: #8993ad;
}

@media (max-width: 1199.9px) {
  .promo-title {
    font-size: 59px;
  }

  .promo-title__text {
    font-size: 54px;
  }
}
@media (max-width: 1023.9px) {
  .promo-title {
    font-size: 24px;
  }

  .promo-title__text {
    margin-bottom: 7px;
    font-size: 30px;
  }

  .promo-title__description {
    font-size: 16px;
    line-height: 19px;
  }
}
.feedback-button {
  padding: 1.17em 4em;
  font-size: 18px;
  color: #fff;
  background-color: #ff4e2e;
  border: none;
}
@media (max-width: 1023.9px) {
  .feedback-button {
    width: 100%;
    max-width: 280px;
    font-size: 16px;
  }
}

.feedback-button_skills {
  padding: 1.15em 3.2em;
}

.feedback-button_projects {
  padding: 1.21em 3.6em;
}

@media (max-width: 1199.9px) {
  .feedback-button_promo {
    padding: 1.38em 5.36em;
  }

  .feedback-button_skills {
    padding: 1.4em 4.65em;
  }

  .feedback-button_projects {
    padding: 1.41em 5em;
  }
}
@media (max-width: 1023.9px) {
  .feedback-button_promo {
    padding: 1.22em 0;
    box-shadow: 0 0 15px #ffffff4f;
  }

  .feedback-button_skills {
    padding: 1.2em 0;
  }

  .feedback-button_projects {
    padding: 1.21em 0;
  }
}
.flying-tag {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 997;
}

.flying-tag__item {
  position: absolute;
  font-size: 48px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.flying-tag__item_promo {
  background-color: #ff2f96;
  background-image: linear-gradient(10deg, #ff8f5a, #ff2f96);
  background-clip: text;
  color: transparent;
}

.flying-tag__item_promo_1-tag {
  font-size: 48px;
  transform: translate(-245px, 58px) rotate(30deg);
}

.flying-tag__item_promo_2-tag {
  font-size: 56px;
  transform: translate(-129px, 288px) rotate(16deg);
}

.flying-tag__item_promo_3-tag {
  font-size: 40px;
  transform: translate(2px, 593px) rotate(-23deg);
}

.flying-tag__item_promo_4-tag {
  font-size: 39px;
  transform: translate(574px, 463px) rotate(20deg);
}

.flying-tag__item_promo_5-tag {
  font-size: 30px;
  transform: translate(412px, 90px) rotate(-13deg);
}

.flying-tag__item_rate {
  color: #fff;
}

.flying-tag__item_rate_1-tag {
  font-size: 48px;
  transform: translate(-245px, 60px) rotate(29deg);
}

.flying-tag__item_rate_2-tag {
  font-size: 56px;
  transform: translate(-129px, 249px) rotate(16deg);
}

.flying-tag__item_rate_3-tag {
  font-size: 40px;
  transform: translate(1282px, 75px) rotate(-23deg);
}

.flying-tag__item_rate_4-tag {
  font-size: 38px;
  transform: translate(1047px, 302px) rotate(20deg);
}

.flying-tag__item_rate_5-tag {
  font-size: 50px;
  transform: translate(1391px, 256px) rotate(-17deg);
}

@media (max-width: 1739.9px) {
  .flying-tag {
    overflow: hidden;
  }
}
@media (max-width: 1199.9px) {
  .flying-tag {
    overflow: inherit;
  }

  .flying-tag__item_promo_1-tag {
    font-size: 48px;
    transform: translate(39px, 79px) rotate(30deg);
  }

  .flying-tag__item_promo_2-tag {
    font-size: 56px;
    transform: translate(19px, 553px) rotate(16deg);
  }

  .flying-tag__item_promo_3-tag {
    font-size: 40px;
    transform: translate(318px, 507px) rotate(-23deg);
  }

  .flying-tag__item_promo_4-tag {
    font-size: 39px;
    transform: translate(370px, 159px) rotate(14deg);
  }

  .flying-tag__item_promo_5-tag {
    font-size: 30px;
    transform: translate(848px, 73px) rotate(-13deg);
  }

  .flying-tag__item_rate_1-tag {
    font-size: 32px;
    transform: translate(116px, 22px) rotate(28deg);
  }

  .flying-tag__item_rate_2-tag {
    font-size: 40px;
    transform: translate(-7px, 178px) rotate(16deg);
  }

  .flying-tag__item_rate_3-tag {
    transform: translate(834px, 285px) rotate(-23deg);
  }

  .flying-tag__item_rate_4-tag {
    font-size: 24px;
    transform: translate(473px, 304px) rotate(20deg);
  }

  .flying-tag__item_rate_5-tag {
    font-size: 19px;
    transform: translate(907px, 81px) rotate(-17deg);
  }
}
@media (max-width: 1023.9px) {
  .flying-tag__item_promo_1-tag {
    font-size: 25px;
    transform: translate(29px, -35px) rotate(30deg);
  }

  .flying-tag__item_promo_2-tag {
    font-size: 28px;
    transform: translate(17px, 70px) rotate(16deg);
  }

  .flying-tag__item_promo_3-tag {
    font-size: 20px;
    transform: translate(151px, -54px) rotate(-29deg);
  }

  .flying-tag__item_promo_4-tag {
    font-size: 16px;
    transform: translate(248px, 344px) rotate(35deg);
  }

  .flying-tag__item_promo_5-tag {
    font-size: 16px;
    transform: translate(226px, 10px) rotate(18deg);
  }

  .flying-tag__item_rate {
    display: none;
  }
}
.skills {
  z-index: 1000;
}

.skills__wrapper {
  margin: 4.65em 0;
}

.skills__list {
  display: flex;
  justify-content: space-between;
}

.skills__item {
  display: block;
  flex-basis: 25%;
  padding-top: 3.7em;
  background-repeat: no-repeat;
  background-size: auto 3.7em;
  background-position: top center;
}

.skills__item_icon-layout {
  background-image: url("../image/skills_icon-1_desctop@2x.png");
}

.skills__item_icon-adaptive {
  background-image: url("../image/skills_icon-2_desctop@2x.png");
}

.skills__item_icon-frontend {
  background-image: url("../image/skills_icon-3_desctop@2x.png");
}

.skills__item_icon-correct {
  background-image: url("../image/skills_icon-4_desctop@2x.png");
}

.skills__text {
  margin: 0;
  margin-top: 0.8em;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 1199.9px) {
  .skills {
    padding-top: 4.54em;
  }

  .skills__wrapper {
    margin-bottom: 4.7em;
  }

  .skills__title {
    margin-right: 27px;
  }

  .skills__list {
    flex-wrap: wrap;
    padding: 0px 125px;
  }

  .skills__item {
    flex-basis: 50%;
    padding-left: 2em;
    padding-right: 2em;
  }

  .skills__item_icon-layout,
.skills__item_icon-adaptive {
    margin-bottom: 4em;
  }
}
@media (max-width: 1023.9px) {
  .skills {
    padding-top: 2.35em;
    padding-bottom: 2.6em;
  }

  .skills__wrapper {
    margin-top: 2.3em;
    margin-bottom: 2.75em;
  }

  .skills__title {
    margin-right: 0;
  }

  .skills__list {
    flex-direction: column;
    padding: 0 20px;
  }

  .skills__item {
    flex-basis: 100%;
    padding-top: 2.85em;
    padding-left: 1em;
    padding-right: 1em;
    background-size: auto 2.85em;
  }

  .skills__text {
    font-size: 16px;
  }

  .skills__item_icon-layout,
.skills__item_icon-adaptive,
.skills__item_icon-frontend {
    margin-bottom: 2.59em;
  }
}
.projects {
  background-color: #fbfbfb;
  padding-bottom: 5.08em;
}
@media (max-width: 1199.9px) {
  .projects {
    padding-top: 4.8em;
  }
}
@media (max-width: 1023.9px) {
  .projects {
    padding: 0 20px;
    padding-top: 2.35em;
    padding-bottom: 2.6em;
    width: 320px;
    margin: 0 auto;
  }
}

.projects__slider {
  margin-top: 5.2em;
  margin-bottom: 4.72em;
}
@media (max-width: 1199.9px) {
  .projects__slider {
    margin-bottom: 4.7em;
  }
}
@media (max-width: 1023.9px) {
  .projects__slider {
    margin-top: 2.5em;
    margin-bottom: 2.25em;
  }
}

.slider {
  position: relative;
}

.slider__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.slider__item {
  flex-basis: 31.6%;
}
@media (max-width: 1199.9px) {
  .slider__item {
    flex-basis: 48%;
  }
  .slider__item:last-child {
    display: none;
  }
}
@media (max-width: 1023.9px) {
  .slider__item {
    flex-basis: 100%;
  }
  .slider__item:nth-child(2) {
    display: none;
  }
}

.slider__link {
  text-align: center;
}

.slider__control {
  position: absolute;
  top: 34.5%;
  width: 102.69%;
  margin-left: -16px;
}
@media (max-width: 1199.9px) {
  .slider__control {
    position: relative;
    top: auto;
    width: auto;
    margin-left: 0;
    margin-top: 4.9em;
  }
}
@media (max-width: 1023.9px) {
  .slider__control {
    margin-top: 1.75em;
  }
}

.figure {
  margin: 0;
}

.figure__image {
  max-width: 100%;
}

.figure__title {
  margin-top: 30px;
}

.figure__text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1199.9px) {
  .figure__title {
    margin-top: 0.8em;
  }

  .figure__text {
    font-size: 25px;
  }
}
@media (max-width: 1023.9px) {
  .figure__image {
    min-width: 100%;
  }

  .figure__title {
    margin-top: 0.5em;
  }

  .figure__text {
    font-size: 18px;
  }
}
.control-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  z-index: 1200;
}
@media (max-width: 1199.9px) {
  .control-arrow {
    display: none;
  }
}

.control-arrow__item {
  display: block;
}

.control-arrow__btn {
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.control-arrow__btn_left {
  background-image: url("../image/left-arrow@2x.png");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
}

.control-arrow__btn_right {
  background-image: url("../image/right-arrow@2x.png");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
}

.control-dots {
  display: none;
  justify-content: center;
}
@media (max-width: 1199.9px) {
  .control-dots {
    display: flex;
  }
}

.control-dots__item {
  list-style-type: none;
  margin: 0 15px;
}
@media (max-width: 1023.9px) {
  .control-dots__item {
    margin: 0 8px;
  }
}

.control-dots__btn {
  width: 18px;
  height: 18px;
  padding: 0;
  border: 1px solid #ebebeb;
  border-radius: 9px;
  background-color: #ebebeb;
  cursor: pointer;
}
.control-dots__btn.active {
  background-color: #ff4e2e;
  border: 1px solid #ff4e2e;
}
.control-dots__btn:focus {
  outline: none;
  border: 1px solid #ff4e2e;
}
@media (max-width: 1023.9px) {
  .control-dots__btn {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
}

.rate {
  position: relative;
  background-color: #ff2f96;
  background-image: linear-gradient(13deg, #ff8f5a, #ff2f96);
}

.rate__wrapper {
  padding: 3.7em 5em 4.1em 6.5em;
}

.rate__title {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.35;
  color: #fff;
}
.rate__title::after {
  content: "*";
}

.rate__text {
  display: flex;
  width: 78%;
  margin: 0;
  margin-top: 29px;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 1.1px;
  color: #fff;
}
.rate__text::before {
  content: "*";
  margin-right: 5px;
  font-size: 18px;
}

.rate__text::before {
  content: "*";
  margin-right: 5px;
  font-size: 18px;
}

@media (max-width: 1199.9px) {
  .rate__wrapper {
    padding: 3.7em 2em 4.05em 2em;
  }

  .rate__text {
    width: 81%;
  }
}
@media (max-width: 1023.9px) {
  .rate__wrapper {
    padding: 2em 20px 2.2em 20px;
  }

  .rate__title {
    text-align: left;
    font-size: 28px;
    line-height: 1.45;
  }

  .rate__text {
    width: 100%;
    margin-top: 1.7em;
    align-items: baseline;
    font-size: 18px;
    line-height: 1.96;
    letter-spacing: normal;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3.85em;
  padding-bottom: 3.75em;
}

.footer__contact-link {
  margin-left: 55px;
}

.footer__btn {
  margin-right: 20px;
}

.footer__social {
  margin-top: 1.5em;
}

.footer__copyright {
  text-align: center;
  padding: 30px 0;
  font-size: 16px;
  color: #fff;
  background-color: #31293c;
}

.footer__copyright-text {
  margin: 0;
}

@media (max-width: 1199.9px) {
  .footer__wrapper {
    padding-top: 5em;
    padding-bottom: 3.8em;
  }

  .footer__contact-link {
    margin-left: 23px;
  }

  .footer__btn {
    margin-right: -3px;
  }
}
@media (max-width: 1023.9px) {
  .footer__wrapper {
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2.22em;
  }

  .footer__feedback {
    margin-top: 1.08em;
  }

  .footer__contact-link {
    margin-left: 0px;
  }

  .footer__btn {
    margin-top: 0.2em;
    margin-right: 0px;
  }

  .footer__social {
    margin-top: 2.5em;
  }

  .footer__copyright {
    padding: 1.5em 0;
    font-size: 12px;
  }
}
.social-likes__service {
  display: inline-block;
  width: 35px;
  height: 29px;
  margin-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

.social-likes__service_type-vk {
  background-image: url("../image/social-likes-sprite_desctop@2x.png");
}

.social-likes__service_type-facebook {
  background-image: url("../image/social-likes-sprite_desctop@2x.png");
  background-position-x: -35px;
}

.social-likes__service_type-twitter {
  background-image: url("../image/social-likes-sprite_desctop@2x.png");
  background-position-x: -70px;
}

.social-likes__service_type-instagram {
  background-image: url("../image/social-likes-sprite_desctop@2x.png");
  background-position-x: -105px;
  margin-right: 0;
}

/*# sourceMappingURL=main.css.map */
