.todays-news-column {
	display: inline-block;
	vertical-align: top;

	width: 250px;
	height: 845px;

	margin-right: 15px;

	background-color: #fff;

	overflow: hidden;
}

.title-block {
	padding: 24px 18px;

	border-bottom: 2px solid #f9f9f9;
}

.title-block-link {
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
}

.news-list {
	box-sizing: content-box;

	width: 100%;
	height: 645px;

	margin: 28px 0;
	padding-right: 20px;

	font-size: 0;

	overflow-y: auto;
}

.news-list-element {
	width: 250px;

	margin-bottom: 24px;
}

.news-list-element:last-child {
	margin-bottom: 0;
}

.todays-news-item {
	padding: 0 18px;
}

.todays-news-item-link {
	display: inline-block;

	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.3px;
	line-height: 20px;
}

.footer-thread-item {
	margin-top: 15px;
	padding-right: 15px;

	font-size: 12px;
	text-align: right;
	line-height: 12px;
}

.footer-thread-item-link {
	float: left;

	color: #91919f;
}

.footer-thread-item-time {
	margin-right: 23px;

	padding-left: 14px;

	background-image: url('../img/clock.png');
	background-repeat: no-repeat;
	background-size: 12px;
}

.comment-counter {
	float: right;

	padding-left: 14px;

	background-image: url('../img/chat.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.all-news-btn {
	display: inline-block;
	text-align: center;

	width: 178px;
	height: 43px;

	margin-left: 37px;

	border: 2px solid #448ccb;
	border-radius: 23px;

	font-size: 14px;
	line-height: 43px;
	color: #448ccb;

	background-color: inherit;

	cursor: pointer;
}

.main-news {
	display: inline-block;
	vertical-align: top;

	width: 461px;
	margin-right: 15px;
	overflow: hidden;
}

.title-news {
	height: 321px;

	color: #fff;

	overflow: hidden;
}

.title-news-img{
	width: 461px;
}

.title-news-topic {
	margin-top: -212px;
	margin-left: 22px;
}

.title-thread {
	font-size: 12px;
}

.title-topic {
	display: inline-block;

	width: 461px;
	height: 105px;

	overflow: auto;

	margin-top: 20px;
	margin-left: -3px;

	font-size: 30px;
	font-weight: bold;
	line-height: 35px;
}

.title-topic-link{
	display: inline-block;
}

.title-news-footer {
	margin-top: 12px;
	margin-left: 22px;
}
.title-news-time {
	font-size: 12px;
}

.title-news-time
.time-icon {
	padding-left: 12px;

	background-image: url('../img/clock-2.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 8px;
}

.block-news {
	display: inline-block;
	vertical-align: top;
	text-align: justify;

	width: 100%;
	height: 524px;

	overflow-y: auto;
}

.block-news:after {
	display: inline-block;
	width: 100%;
	content:'';
}

.other-news {
	display: inline-block;
	vertical-align: top;
	text-align: left;

	padding-top: 19px;
}

.other-news-img {
	width: 220px;
	height: 140px;
}

.other-news-title {
	width: 200px;

	margin-top: 5px;

	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

.other-news
.footer-thread-item {
	width: 180px;

	margin-top: 16px;
}

.other-news
.footer-thread-item-time {
	margin-right: 8px;
}

.top-news {
	display: inline-block;
	vertical-align: top;

	margin-top: 20px;

	background-color: #fff;

	overflow: hidden;
}

.topnews-title {
	float: right;

	width: 412px;

	padding: 26px 20px;
}

.title-top-news {
	display: inline-block;
	float: left;

	width: 588px;

	color: #fff;
}

.title-top-news-topic {
	margin-top: -292px;
	margin-left: 22px;
}

.title-top-news
.title-topic {
	width:  568px;

	padding-right: 130px;
	margin-top: 25px;
}

.title-top-news-footer {
	padding-top: 8px;
	padding-left: 22px;
}

.title-top-news-time {
	font-size: 12px;
}

.title-top-news
.time-icon {
	padding-left: 11px;

	background-image: url('../img/clock-2.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 10px;
}

.title-top-news-text {
	height: 80px;

	margin-top: 25px;
	padding-right: 20px;

	font-size: 14px;
	line-height: 20px;
	color: #fff;

	overflow-y: auto;
}

.topnews-list {
	float: right;

	width: 390px;
	height: 294px;

	margin: 0;
	margin-top: 22px;
}

.topnews-list-element {
	width: 409px;

	margin-bottom: 30px;
}

.topnews-list-element:last-child {
	margin-bottom: 0;
}

.top-news-item {
	padding: 0 18px;
}

.top-news-item-link {
	display: inline-block;

	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
}

.top-news-item
.footer-thread-item {
	width: 160px;
}
