.note-item {
	display: block;

	margin-bottom: 18px;

	background-color: #fff;
}

.note-item-title {
	display: inline-block;

	width: 100%;

	padding: 18px 19px;

	border-bottom: 1px solid #f7f7f7;
}

.title-item {
	display: inline-block;

	font-size: 16px;
}

.close-btn {
	display: inline-block;
	vertical-align: middle;

	width: 16px;
	height: 16px;

	margin-left: 19px;

	cursor: pointer;

	background-color: inherit;
	background-image: url('../img/clear-button.png');
	background-repeat: no-repeat;
	background-position: center;
}

.expand-btn {
	display: inline-block;
	vertical-align: middle;
	float: right;

	width: 16px;
	height: 16px;

	cursor: pointer;

	background-color: inherit;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: center;

	transition: transform 2.5s ease;
}

.note-item-description {
	width: 100%;
	min-height: 85px;

	padding: 7px 20px 20px;

	font-size: 14px;

	transition: min-height 2s, padding 2s, font-size 2s ease;
}

.description-item {
	display: inline-block;

	word-wrap: break-word;
	font-size: inherit;
	color: #8993ad;
}
